body {background-color:yellow;}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    }
    
#laFoto{
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .buttons{
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }